/** @format */

$point-color: #8d6ec8;
$point-hover: #594285;
$main-color: #a6dfb6;
$main-hover: #78dc95;
$border-color: #d2d2d2;
$main-white: #fff;
$main-black: #000;

$font-color: #5e5e5e;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
