/** @format */
@import '../../style/util.scss';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3px;
  width: 20px;
  height: 60px;
  background-color: $sub-color;
  color: $main-color;
  border-radius: 5px;
}
